#title{
    font-family: 'Rubik', sans-serif;
    font-size: 80px;
    text-shadow: 5px -5px #BE1C2D;
    letter-spacing:5px;
    padding-bottom: 130px;
    padding-top: 120px;
    text-align: center;
    font-weight: bolder;

}
p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    padding: 10px;
    font-weight: lighter;
}

a{
    font-family: 'Open Sans', sans-serif;
}

.current{
    font-weight: bolder;
    color: #000;
}

footer{
    padding: 20px;
    width: auto;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    background-color: #B4CFEC;
}

footer p{
    display: inline-block;
    font-size: 20px;

}

nav{
    width: auto;
    margin-bottom: 30px;
}

nav li{
    display: inline-block;
    margin: 30px auto 30px 30px;
}

nav a{
    padding: 10px;
    color: #000;
    font-weight: 400;
    font-size: 20px;

}

.background_img{
    background-image: url("../images/homepage-cityview.jpg");
    background-size: auto 500px;
}


h1{
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    margin: 24px 8px;
    font-weight: bold;
}


.food_img img{
    width: 400px;
    border: 3px solid black;
    margin: 10px 0 10px 10px;
}

.food_img{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figcaption{
    margin: 5px 0 10px 30px;
}

.other_img img{
    width: 400px;
    border: 1px solid #000;
    margin: 50px auto auto 30px;
}

@keyframes fades{
    from { opacity: 0; }
    to { opacity: 1; }
}

#hong{
    animation: fades 2s linear forwards;

}

.grid-container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    justify-content: center;
}

.grid4{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.grid5{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.extra{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;

}

.aside-content{
    text-align: center;
    width: 50%;
    padding: 20px;
    box-shadow:  1px 1px 10px 2px #e4e4e4;
    font-style: italic;
    margin: 0 auto;
    
    
}

.aside-content p{
    font-size: 20px;
}

.other_nav{
    background-color: #B4CFEC;
}

p{
    font-size: larger;
}

@media (prefers-reduced-motion: reduce) {
    #hong{
      animation: none;
    }
  }
