
.home_gird{
    display: grid;
}

.foodpage_gird{
    display: grid;
}

.culturepage_gird{
    display: grid;
}

.subwaypage_gird{
    display: grid;
}


#title{
    font-family: 'Rubik', sans-serif;
    font-size: 7vh;
    text-shadow: 5px -5px #be1c2d;
    letter-spacing: 5px;
    padding-bottom: 25vh;
    padding-top: 19vh;
    text-align: center;
    font-weight: bolder;

}

header .nav_links{
    display: flex;
    flex-direction: column;
}

/* .skip-link{
    position: absolute;
    top: 34%;
    left:30%;
    margin: 20px;
    background-color: #B4CFEC;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: lighter;
    color: #000;
    text-decoration: none;;
    font-size: 0.3rem;
} */


p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    padding: 10px;
    font-weight: lighter;
}

a{
    font-family: 'Open Sans', sans-serif;
}

.current{
    font-weight: bolder;
    color: #000;
}

footer{
    padding: 20px;
    width: auto;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    background-color: #B4CFEC;
}

footer p{
    display: inline-block;
}

nav{
    width: auto;
}

nav li{
    display: inline-block;
    margin: 3vh auto 3vh 2vh;
}

nav a{
    padding: 10px;
    color: #000;
    font-weight: 400;
    font-size: 1rem;

}

.background_img{
    background-image: url("../images/homepage-cityview.jpg");
    background-size: 200vh 70vh;
    background-repeat: no-repeat;
}


h1{
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    margin: 2vh 8px;
    font-weight: bold;
}


.food_img img{
    max-width: 80%;
    border: 3px solid black;
    margin: 10px;
    align-self: center;
}

.food_img{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.food_img figcaption{
    margin: 0 0 10px 10px;
    align-self: center;
    font-weight: 500;
}

.subway_img img{
    max-width: 80%;
    border: 1px solid #000;
    margin: 50px auto auto 30px;
}

.subway_img figcaption{
    margin: 5px auto 0 30px;
}

.culture_img img{
    max-width: 80%;
    border: 1px solid #000;
    margin: 50px auto auto 30px;
    animation: fades 2s linear forwards;
}

.culture_img figcaption{
    margin: 5px auto 0 30px;
}


@keyframes fades{
    from { opacity: 0; }
    to { opacity: 1; }
}


.grid-homepage{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}


.grid2{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.grid3{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.culture-content1{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.culture-content2{
    margin-left: 20px;
    margin-right: 20px;

}

.subway_content{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;

}

.aside-content{
    text-align: center;
    width: 50%;
    padding: 20px;
    box-shadow:  1px 1px 10px 2px #e4e4e4;
    font-style: italic;
    margin: 0 auto;
    
    
}

.aside-content p{
    font-size: larger;
}

.other_nav{
    background-color: #B4CFEC;
}



form{
    margin: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

form #email{
    display: block;
    padding: 10px;
    display: block;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

textarea[name=message], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


form #message{
    display: block;
    padding: 10px;
    display: block;
}


button[type=submit] {
    width: 100%;
    background-color:#B4CFEC;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    /* -webkit-transition: top 1s ease-out; */
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
    /*Your code here - position relative to the parent */
    /*Your code here - place 500px left and 40px higher */;
  }

  .skip a:focus{
    background: white;
    top: 0;
    left: 0;
    padding: 6px;
    /* -webkit-transition: top 1s ease-out; */
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
  }
  
.food_h1{
    padding-left: 20px;
}





@media screen and (min-width: 768px) {

    header .nav_links{
        flex-direction: row;
    }


    #title{
        font-size: 4rem;
    }

    .grid-homepage{
        grid-template-columns: 1fr 1fr;
    }

    .grid1{
        grid-column: 1 / span 2;
    }

    .grid2{
        grid-column: 1 / span 1 ;
    }

    .grid3{
        grid-column: 2 / span 1 ;
    } 

    .subway_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .subway_grid1{
        grid-column: 1 / span 1;
    }

    .subway_grid2{
        grid-column: 2 / span 1;
    }

    .subway_content{
        grid-column: 1 / span 2;
    }

    .culture_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .culture_img{
        grid-column: 1 / span 2;
    }

    .culture-content1{
        grid-column: 1 / span 1;
    }

    .culture-content2{
        grid-column: 2 / span 1;
        margin-top: 50px;
    }

    .food_img figcaption{
        position: absolute;
        top: -500px;
    }

    .food_img figure:hover img{
        filter: blur(4px);
    
    }
    
    .food_img figure:hover figcaption{
        font-weight: 500;
        position:relative;
        top: -50px;
        left:30px;
        color: #fff;
        text-shadow: 1px 1px 2px #be1c2d;
    }
    .culture_img figcaption{
        display: none;
    }
    }


@media screen and (min-width: 968px){

    header .nav_links{
        flex-direction: row;
    }


    .grid-homepage{
        grid-template-columns: 1fr 1fr 1fr;

    }

    .grid1{
        margin-top: 200px;
        width: 100%;
        grid-column: 1 / span 1;
    }

    .grid2{
        grid-column: 2 / span 1;
    }

    .grid3{
        grid-column: 3 / span 1;
    } 

    .subway_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .subway_grid1{
        grid-column: 1 / span 1;
    }

    .subway_grid2{
        grid-column: 1 / span 1;
    }

    .subway_content{
        justify-self: center;
        width: 60%;
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    .culture_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .culture_img{
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    .culture-content1{
        grid-column: 2 / span 1;
    }

    .culture-content2{
        position:relative;
        top: -50px;
        grid-row: 2 / span 1;

    }

}

@media (prefers-reduced-motion: reduce) {
    #hong{
      animation: none;
    }
  }
